{% extends 'website/base.html' %}

{% block title %}{{ block.super }} | Home Page {% endblock title %}

{% block contents %}
    <div class="container-fluid">
   
        <div class="row">
            <div class="col-md-12"
                style="margin-top: 0;background-color: #000000;opacity: 0.75;filter: blur(0px) brightness(100%);">
                <nav class="navbar navbar-light navbar-expand-md">
                    <div class="container-fluid"><img src="static/website/images/Realize%20Your%20Potential%20White%20.png"
                            style="width: 50%;margin: auto;"><a class="navbar-brand" href="#"
                            style="color: rgba(255,255,255,0.9);"></a>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="nav navbar-nav">
                                <li class="nav-item" role="presentation"><a class="nav-link active" href="#">First Item</a>
                                </li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Second Item</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Third Item</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
            <div class="row">
                <div class="col">
                    <h3>Welcome, {{ username }} !</h3>
                </div>
            </div>
            <div class="row">
                    <div class="col heading-col text-left"> 
                        <div class="header">
                            <h3>Current Program</h3>
                        </div>
                        <h6> Program Name</h6>
                
                </div>
            </div>
            <div class="row">
                    <div class="col heading-col text-left"> 
                        <div class="header">
                            <h3>Today's Tasks</h3>
                        </div>
                        <ul>
                            <li>Task 1</li>
                            <li>Task 2</li>
                            <li>Task 3</li>
                        </ul>
                    </div>
                
                </div>
            <div class="row">
                    <div class="col heading-col text-left"> 
                        <div class="header">
                            <h3>Current Progress</h3>
                    </div>
                    <h6> You're making Progress!</h6>
                </div>
            </div>
    </div>
    
</div>

{% endblock contents %}
